<script lang="ts">
	import '../app.css';
</script>

<main>
	<slot />
</main>
<footer class="flex items-center flex-col m-2">
	<span class="text-[#FFFFFF35]">
		Assets from <a href="https://github.com/microsoft/fluentui-emoji">Fluent Emoji</a> made by
		<a href="https://www.microsoft.com/">Microsoft</a>
	</span>
	<span class="text-[#FFFFFF35]">
		Design inspired from <a href="https://dot.net">.NET</a> download page
	</span>
	<span class="text-[#FFFFFF35]"
		>Made by <a href="https://melefo.xyz">Melefo</a> with <a href="https://svelte.dev/">Svelte</a> |
		&copy; 2022 |
		<a href="https://gitlab.com/Melefo/FluentEmojiMaker">Source code</a></span
	>
</footer>
