<script lang="ts">
	import type Emoji from 'src/types/emoji';
	import { onMount } from 'svelte';
	import { Icon } from '@steeze-ui/svelte-icon';
	import {
		ArrowDownOnSquare,
		ArrowDownOnSquareStack,
		ArrowDownTray,
		ArrowPath,
		Photo
	} from '@steeze-ui/heroicons';

	const enum State {
		None = 'None',
		Head = 'Head',
		Eyes = 'Eyes',
		Mouth = 'Mouth',
		Eyebrows = 'Eyebrows',
		Details = 'Details'
	}

	const Items: { [key in State]: string[] } = {
		[State.Head]: [
			'',
			...Object.values(import.meta.glob('/src/img/Head/*.svg', { eager: true, as: 'url' }))
		],
		[State.Eyes]: [
			'',
			...Object.values(import.meta.glob('/src/img/Eyes/*.svg', { eager: true, as: 'url' }))
		],
		[State.Mouth]: [
			'',
			...Object.values(import.meta.glob('/src/img/Mouth/*.svg', { eager: true, as: 'url' }))
		],
		[State.Eyebrows]: [
			'',
			...Object.values(import.meta.glob('/src/img/Eyebrows/*.svg', { eager: true, as: 'url' }))
		],
		[State.Details]: [
			'',
			...Object.values(import.meta.glob('/src/img/Details/*.svg', { eager: true, as: 'url' }))
		],
		[State.None]: []
	};

	let randomized: () => Emoji = () => ({
		head: Math.floor(Math.random() * Items[State.Head].length),
		eyes: Math.floor(Math.random() * Items[State.Eyes].length),
		mouth: Math.floor(Math.random() * Items[State.Mouth].length),
		eyebrows: Math.floor(Math.random() * Items[State.Eyebrows].length),
		details: Math.floor(Math.random() * Items[State.Details].length)
	});

	let changeState: (current: State) => void = (current) =>
		(state = state === current ? State.None : current);

	let setPart: (part: number) => Promise<void> = async (part) => {
		switch (state) {
			case State.Head:
				emoji.head = part;
				break;
			case State.Eyes:
				emoji.eyes = part;
				break;
			case State.Mouth:
				emoji.mouth = part;
				break;
			case State.Eyebrows:
				emoji.eyebrows = part;
				break;
			case State.Details:
				emoji.details = part;
				break;
			case State.None:
			default:
				return;
		}
		await drawEmojiSvg();
	};

	let drawEmojiCanvas: () => void = () => {
		const context = canvas.getContext('2d');
		canvas.width = 2048;
		canvas.height = 2048;
		context?.clearRect(0, 0, canvas.width, canvas.height);

		if (emoji.head !== 0) context?.drawImage(head, 0, 0, canvas.width, canvas.height);
		if (emoji.eyes !== 0) context?.drawImage(eyes, 0, 0, canvas.width, canvas.height);
		if (emoji.mouth !== 0) context?.drawImage(mouth, 0, 0, canvas.width, canvas.height);
		if (emoji.eyebrows !== 0) context?.drawImage(eyebrows, 0, 0, canvas.width, canvas.height);
		if (emoji.details !== 0) context?.drawImage(details, 0, 0, canvas.width, canvas.height);
	};

	let drawEmojiSvg: () => Promise<void> = async () => {
		const parser = new DOMParser();
		let images: string[] = [];
		if (emoji.head !== 0)
			images.push(await fetch(Items[State.Head][emoji.head]).then((res) => res.text()));
		if (emoji.eyes !== 0)
			images.push(await fetch(Items[State.Eyes][emoji.eyes]).then((res) => res.text()));
		if (emoji.mouth !== 0)
			images.push(await fetch(Items[State.Mouth][emoji.mouth]).then((res) => res.text()));
		if (emoji.eyebrows !== 0)
			images.push(await fetch(Items[State.Eyebrows][emoji.eyebrows]).then((res) => res.text()));
		if (emoji.details !== 0)
			images.push(await fetch(Items[State.Details][emoji.details]).then((res) => res.text()));
		svg.innerHTML = images
			.map((img) => parser.parseFromString(img, 'image/svg+xml').documentElement.innerHTML)
			.join('');
	};

	let save: BlobCallback = (blob) => {
		if (blob === null) return;
		const url = URL.createObjectURL(blob);
		a.href = url;
		a.download = `FluentEmoji_${Date.now()}_Melefo`;
		a.click();
	};

	let toSvgBlob: (callback: BlobCallback) => Promise<void> = async function (callback) {
		callback(new Blob([svg.outerHTML], { type: 'image/svg+xml' }));
	};

	let emoji: Emoji = randomized();
	let state: State = State.None;

	let canvas: HTMLCanvasElement;
	let a: HTMLAnchorElement;
	let svg: SVGSVGElement;
	let head: HTMLImageElement;
	let eyes: HTMLImageElement;
	let mouth: HTMLImageElement;
	let eyebrows: HTMLImageElement;
	let details: HTMLImageElement;

	onMount(drawEmojiSvg);
</script>

<h1 class="font-bold text-center text-white text-4xl p-4">Fluent Emoji Maker!</h1>
<svg
	class="h-[40vh] m-auto p-4"
	bind:this={svg}
	viewBox="0 0 32 32"
	fill="none"
	xmlns="http://www.w3.org/2000/svg"
/>
<div class="flex gap-6 justify-center p-4">
	<button
		class="bg-ms-secondary border-2 border-ms-green p-3 rounded-xl flex items-center gap-2 shadow-ms hover:shadow-ms-hover ease-in-out duration-200"
		on:click={async () => {
			emoji = randomized();
			await drawEmojiSvg();
		}}
	>
		<Icon src={ArrowPath} theme="outline" size="24" class="hidden sm:block" />
		Random
	</button>
	<button
		class="bg-ms-secondary border-2 border-ms-purple p-3 rounded-xl flex items-center gap-2 shadow-ms hover:shadow-ms-hover ease-in-out duration-200"
		on:click={() => toSvgBlob(save)}
	>
		<Icon src={ArrowDownOnSquare} theme="outline" size="24" class="hidden sm:block" />
		Export SVG</button
	>
	<button
		class="bg-ms-secondary border-2 border-ms-orange p-3 rounded-xl flex items-center gap-2 shadow-ms hover:shadow-ms-hover ease-in-out duration-200"
		on:click={() => {
			drawEmojiCanvas();
			canvas.toBlob(save);
		}}
	>
		<Icon src={ArrowDownOnSquareStack} theme="outline" size="24" class="hidden sm:block" />
		Export PNG</button
	>
</div>
<div
	class="bg-ms-secondary w-fit flex flex-wrap justify-center my-4 mx-4 sm:mx-auto p-4 rounded-xl gap-4 sm:gap-6"
>
	<button
		on:click={() => changeState(State.Head)}
		class="bg-ms-purple-tint hover:bg-ms-purple-hover ease-in-out duration-200 rounded-xl p-2 h-20 w-20 sm:h-24 sm:w-24"
	>
		{#if emoji.head !== 0}
			<img
				class="w-full h-full"
				bind:this={head}
				src={Items[State.Head][emoji.head]}
				alt={State.Head}
			/>
		{/if}
	</button>
	<button
		on:click={() => changeState(State.Eyes)}
		class="bg-ms-purple-tint hover:bg-ms-purple-hover ease-in-out duration-200 rounded-xl p-2 h-20 w-20 sm:h-24 sm:w-24"
	>
		{#if emoji.eyes !== 0}
			<img
				class="w-full h-full"
				bind:this={eyes}
				src={Items[State.Eyes][emoji.eyes]}
				alt={State.Eyes}
			/>
		{/if}
	</button>
	<button
		on:click={() => changeState(State.Mouth)}
		class="bg-ms-purple-tint hover:bg-ms-purple-hover ease-in-out duration-200 rounded-xl p-2 h-20 w-20 sm:h-24 sm:w-24"
	>
		{#if emoji.mouth !== 0}
			<img
				class="w-full h-full"
				bind:this={mouth}
				src={Items[State.Mouth][emoji.mouth]}
				alt={State.Mouth}
			/>
		{/if}
	</button>
	<button
		on:click={() => changeState(State.Eyebrows)}
		class="bg-ms-purple-tint hover:bg-ms-purple-hover ease-in-out duration-200 rounded-xl p-2 h-20 w-20 sm:h-24 sm:w-24"
	>
		{#if emoji.eyebrows !== 0}
			<img
				class="w-full h-full"
				bind:this={eyebrows}
				src={Items[State.Eyebrows][emoji.eyebrows]}
				alt={State.Eyebrows}
			/>
		{/if}
	</button>
	<button
		on:click={() => changeState(State.Details)}
		class="bg-ms-purple-tint hover:bg-ms-purple-hover ease-in-out duration-200 rounded-xl p-2 h-20 w-20 sm:h-24 sm:w-24"
	>
		{#if emoji.details !== 0}
			<img
				class="w-full h-full"
				bind:this={details}
				src={Items[State.Details][emoji.details]}
				alt={State.Details}
			/>
		{/if}
	</button>
</div>
{#if state !== State.None}
	<div
		class="bg-ms-secondary my-4 mx-4 md:mx-40 2xl:mx-96 flex flex-wrap justify-center m-auto p-4 rounded-xl gap-4 sm:gap-6"
	>
		{#each Items[state] as item, i}
			<button
				class="h-20 w-20 p-2 bg-ms-primary rounded-xl hover:scale-110 ease-in-out duration-200"
				on:click={async () => await setPart(i)}
			>
				{#if item !== ''}
					<img class="w-full h-full" src={item} alt={state} />
				{/if}
			</button>
		{/each}
	</div>
{/if}
<a bind:this={a} hidden href=".">Download</a>
<canvas bind:this={canvas} hidden />
