@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--ms-primary-color: #1f1f1f;
}

* {
	font-family: 'Open Sans', sans-serif;
	color: white;
}

body {
	background: var(--ms-primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Space Grotesk', sans-serif;
}

a {
	text-decoration: underline dashed;
	text-underline-offset: 2px;
}
